# ── PostgreSQL ───────────────────────────────────────
POSTGRES_USER=admin
POSTGRES_PASSWORD=cambia_esto_en_produccion
POSTGRES_DB=email_platform

# ── Servicio Core (NestJS) ───────────────────────────
DATABASE_URL=postgresql://user:pass@url:5432/db_name
JWT_SECRET=un_secreto_muy_largo_y_aleatorio_minimo_32_chars
PORT=3001
NODE_ENV=production

# ── Frontend ─────────────────────────────────────────
VITE_API_BASE_URL=/api
